.App {
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 1280px;
  height: 100vh;
}

.App-img {
  height: auto;
  width: 100%;
  min-width: 1000px;
}

.components-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 70px 1rem;
  overflow-y: scroll;
}

.components-container::-webkit-scrollbar{
  display: none;
}

.components-container-top {
  width: 100%;
  height: 300px;
  display: flex;
}

.components-container-top__hourly {
  height: 100%;
  width: calc(100% - 420px);
  display: flex;
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
}

.components-container-top__hourly--data-view {
  height: 100%;
  width: calc(100% - 60px);
  display: flex;
  overflow-x: scroll;
  border-radius: 20px;
  position: relative;
}

.components-container-top__hourly--data-view::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}

.components-container-top__hourly--data-view::-webkit-scrollbar-thumb {
  background-color: #4726a450;
  border-radius: 5px;
}

.components-container-bottom {
  height: auto;
  background-color: #ffffff30;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px #00000050;
  min-width: 400px;
}

.components-container-bottom-nav {
  height: 60px;
  background-color: #4726a450;
  color: white;
  display: flex;
}

.components-container-bottom-nav__text {
  height: 100%;
  width: 300px;
  background-color: #4726a4;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 25px;
  text-shadow: 0px 10px 2px #00000070;
}

.components-container-bottom-nav__options {
  height: 100%;
  width: calc(100% - 300px);
  display: flex;
  padding-left: 20px;
}

.components-container-bottom-dnsstal {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sunrise-sunset-wrapper {
  height: fit-content;
}

.temperature-history-wrapper {
  height: fit-content;
  width: 250px;
  background-color: #fffdfd50;
  padding: 10px;
  margin: 0 0 0 20px;
  color: black;
}

.temperature-history-wrapper__top {
  font-size: 22px;
  display: flex;
  font-weight: 500;
  text-shadow: 0px 5px 7px #00000090;
}

.loading-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 24, 24, 0.462);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-wrapper__gif {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  height: auto;
  width: 180px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 6px 2px #000000);
  filter: drop-shadow(0px 6px 2px #000000);
}

.components-container-top__hourly:hover>.components-container-top__hourly--left_arrow,
.components-container-top__hourly:hover>.components-container-top__hourly--right_arrow {
  display: flex;
}

.components-container-top__hourly--left_arrow,
.components-container-top__hourly--right_arrow {
  position: sticky;
  top: 50%;
  width: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.components-container-top__hourly--left_arrow--img,
.components-container-top__hourly--right_arrow--img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.components-container-top__hourly--right_arrow--img {
  transform: rotate(180deg);
}

.cprght-wrapper {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(223, 223, 223);
  background-color: rgba(0, 0, 0, 0.5);
}

.Calender-map-wrapper {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff30;
  padding: 20px 10px;
}

.App__Calender-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 10px 0;
  min-width: 400px;
}


@media screen and (max-width: 700px) {
  .components-container{
    padding: 70px 0;
  }
  .components-container-top {
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }

  .components-container-top .components-container-top__hourly {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .components-container-top .today-wrapper {
    height: 300px;
    margin-bottom: 20px;
  }

  .components-container-bottom-nav__text {
    width: 150px;
    font-size: 18px;
    padding-left: 10px;
  }

  .components-container-bottom-nav__options {
    width: calc(100% - 180px);
  }

  .components-container-top__hourly {
    padding-left: 0;
    max-height: 150px;
  }

  .components-container-top__hourly--left_arrow,
  .components-container-top__hourly--right_arrow {
    display: flex;
  }

  .App__Calender-wrapper {
    width: 400px;
    height: 500px;
    overflow: hidden;
    top: -20px;
    margin: 0;
  }

  .App__Calender-wrapper_map{
    top: -110px;
  }

  .Calender-map-wrapper{
    padding: 0;
    min-width: 360px;
    height: 850px;
    justify-content: center;
  }

  .components-container-bottom{
    position: relative;
    scale: 0.9;
    margin-top: 0;
  }
}