.Hourly-Wrapper{
    height: 100%;
    width: 150px;
    min-width: 150px;
    background-color: #00000050;
    border-radius: 20px;
    padding: 30px;
    color: white;
    margin: 0 10px;
}
.Hourly-Wrapper__time,
.Hourly-Wrapper__temp{
    height: 20%;
    font-size: 20px;
    font-weight: 600;
}
.Hourly-Wrapper__icon_type{
    height: 60%;
}
.Hourly-Wrapper__time,
.Hourly-Wrapper__icon_type,
.Hourly-Wrapper__temp,
.Hourly-Wrapper__type{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hourly-Wrapper span{
    text-shadow: 0px 12px 2px #000000;
}
.Hourly-Wrapper__icon_type{
    flex-flow: row wrap;
}
.Hourly-Wrapper__icon_type__img{
    height: 50%;
    width: auto;
}
.Hourly-Wrapper__type{
    font-size: 15px;
}